{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/attributions.css' %}">

<div class="my-content">
    <hr>
    <p>At the top of this website, you will find a quick <a href="https://www.bbc.co.uk/weather" target="_blank" rel="noopener noreferrer">"Escape!"</a> button. This will take you to the homepage of BBC Weather. We've added this feature so that you can inconspicuously browse something else if you live in a non-accepting environment. We chose BBC Weather because it's more believable than a simple Google screen.</p>
    <div class="license">
        <p>Licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener noreferrer">Creative Commons</a></p>
        <p>Thanks to <a href="https://www.oulgbtq.org/" target="_blank" rel="noopener noreferrer">OULGBTQ+</a> for licensing their site because I'm not a website designer.</p>
        <p>Also, thanks to the doodle pack from Icons8 for providing high-quality free-to-use icons!</p>
        <p>Created by Pat Prochacki</p>
    </div>
</div>