{% load tz %}
{% load static %}
{% load custom_tags %}

{% block head %}

{% endblock head %}

{% block content %}
    <div class="discord-event">
        <div class="event-header">
            <div class="event-name">{{ event.name }}</div>
        </div>
        <div class="event-details">

            <div class="detail-row">
                <span class="detail-label">Date:</span>
                <span class="detail-value">{{ event.scheduled_start_time|to_date|date:"F j, Y" }}</span>
            </div>
            <div class="detail-row">
                <span class="detail-label">Time:</span>
                <span class="detail-value">{{ event.scheduled_start_time|to_date|timezone:'Europe/London'|date:"H:i" }}</span>
            </div>
            <div class="detail-row">
                <span class="detail-label">Location:</span>
                <span class="detail-value">{{ event.entity_metadata.location }}</span>
            </div>
        </div>
        <div class="event-description">
            {{ event.description }}
        </div>
    </div>
{% endblock content %}