{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static "css/home-page.css" %}"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/announcement.css" %}"/>
    <script src="https://cdn.jsdelivr.net/npm/linkifyjs@4.1.1/dist/linkify.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/linkify-html@4.1.1/dist/linkify-html.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/9.0.3/marked.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static "css/event.css" %}"/>

    <script src="{% static "js/apply_formatting.js" %}"></script>
{% endblock head %}

{% block content %}

    <div class="image-bar">
        <div class="text-overlay">
            <h1>Welcome to the</h1>
            <h2>University of Glasgow LGBTQ+ Society!</h2>
            <p>We are a student run society for LGBTQ+ people at the University of Glasgow and provide a safe-space for
                our members to
                socialise and connect with each other. Our main way of communicating with our members is over Discord.
                You can use the button below to join.
                <br>
                <br>
                If you don't have Discord we also have a mailing list that we send our events to as well as other LGBTQ+
                events
                around Glasgow.
            </p>
            <div class="button-container">
                <div class="discord-button">
                    <a href="https://discord.gg/uauASAkYF7">
                        <img src="{% static 'img/discord-logo.png' %}" alt="Discord Logo" class="button-logo">
                        <span class="button-text">Join our Discord!</span>
                    </a>
                </div>
                <div class="src-button">
                    <a href="https://www.glasgowunisrc.org/organisation/gulgbtqplus/">
                        <img src="{% static 'img/src-logo.png' %}" alt="Glasgow SRC Logo" class="button-logo">
                        <span class="button-text">Become a Member</span>
                    </a>
                </div>
                <div class="email-button">
                    <a href="https://tinyurl.com/gulgbtqplusmailinglist">
                        <img src="{% static 'img/newsletter.png' %}" alt="An Envelope" class="button-logo">
                        <span class="button-text">Join the Mailing List</span>
                    </a>
                </div>
            </div>
        </div>
    </div>


    <div class="item-wrapper">
        <div class="event-container">
            <div class="headings-container">
                <h class="dynamic-headings">Upcoming Events</h>
            </div>

            {% if events == "ConFail" %}
                Can't get events right now, sorry about that
            {% elif events|length_is:0 %}
                We have no events coming up, check back soon!
            {% else %}
                {% for event in events %}
                    {% include 'event_item.html' with data=event %}
                {% endfor %}
            {% endif %}

        </div>
        <div class="announcement-container">
            <div class="headings-container">
                <h class="dynamic-headings">Recent Announcements</h>
            </div>

            {% for announcement in announcements %}
                {% include 'announcement_item.html' with data=announcement avatars=avatars guild_ids=guild_ids %}
            {% endfor %}
        </div>
    </div>

    {% include 'bottom_of_page.html' %}
{% endblock content %}
