<!-- -->

{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="preconnect" href="https://fonts.gstatic.com"/>
    <link
            href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Dancing+Script:wght@700&display=swap"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/committee.css' %}"/>
    <script src="{% static "js/committee.js" %}"></script>

{% endblock head %}

{% block content %}
    <section>
        <div class="section-body">
            <section class="team">
                <h2 class="section-heading">Executive Committee</h2>
                <div class="container">
                    {% for member in exec %}
                        <div class="profile"
                             onclick="openModal({{ forloop.counter }})">
                            <img src="{{ MEDIA_URL }}{{ member.picture }}" alt=""/>
                            <span class="name">{{ member.name }}</span>
                        </div>

                        <!-- Modal for each member -->
                        <div id="modal{{ forloop.counter }}" class="modal">
                            <div id="modalconent{{ forloop.counter }}" class="modal-content">
                                <!-- Include the content for the member -->
                                {% include "com_member.html" %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
        </div>
        <div class="section-body">
            <section class="team">
                <h2 class="section-heading">Identity Officers</h2>
                <div class="container">
                    <div class="profile">
                        <img src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
                             alt=""/><span class="name">Kalyan</span>
                    </div>
                    <div class="profile">
                        <img src="https://images.unsplash.com/photo-1530577197743-7adf14294584?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=801&q=80"
                             alt=""/><span class="name">Suchitra Tiwari</span>
                    </div>

                    <div class="profile">
                        <img src="https://images.unsplash.com/photo-1598641795816-a84ac9eac40c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=801&q=80"
                             alt=""/><span class="name">Sajid Ghani</span>
                    </div>
                    <div class="profile">
                        <img src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
                             alt=""/><span class="name">Kalyan</span>
                    </div>
                    <div class="profile">
                        <img src="https://images.unsplash.com/photo-1530577197743-7adf14294584?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=801&q=80"
                             alt=""/><span class="name">Suchitra Tiwari</span>
                    </div>

                    <div class="profile">
                        <img src="https://images.unsplash.com/photo-1598641795816-a84ac9eac40c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=801&q=80"
                             alt=""/><span class="name">Sajid Ghani</span>
                    </div>
                    <div class="profile">
                        <img src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
                             alt=""/><span class="name">Kalyan</span>
                    </div>
                    <div class="profile">
                        <img src="https://images.unsplash.com/photo-1530577197743-7adf14294584?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=801&q=80"
                             alt=""/><span class="name">Suchitra Tiwari</span>
                    </div>
                </div>
                <div class="section-body">
                    <div class="team">
                        <h2 class="section-heading">Other Officers</h2>
                        <div class="container">
                            <div class="profile">
                                <img src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
                                     alt=""/><span class="name">Kalyan</span>
                            </div>
                            <div class="profile">
                                <img src="https://images.unsplash.com/photo-1530577197743-7adf14294584?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=801&q=80"
                                     alt=""/><span class="name">Suchitra Tiwari</span>
                            </div>

                            <div class="profile">
                                <img src="https://images.unsplash.com/photo-1598641795816-a84ac9eac40c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=801&q=80"
                                     alt=""/><span class="name">Sajid Ghani</span>
                            </div>
                            <div class="profile">
                                <img src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
                                     alt=""/><span class="name">Kalyan</span>
                            </div>
                            <div class="profile">
                                <img src="https://images.unsplash.com/photo-1530577197743-7adf14294584?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=801&q=80"
                                     alt=""/><span class="name">Suchitra Tiwari</span>
                            </div>

                            <div class="profile">
                                <img src="https://images.unsplash.com/photo-1598641795816-a84ac9eac40c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=801&q=80"
                                     alt=""/><span class="name">Sajid Ghani</span>
                            </div>
                            <div class="profile">
                                <img src="https://images.unsplash.com/photo-1595152772835-219674b2a8a6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=80"
                                     alt=""/><span class="name">Kalyan</span>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>


{% endblock content %}