.about-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
}

.image-container {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.image-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.text-container {
    flex: 2;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

/* Add additional styles as needed */