.section-body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-heading {
    font-family: "dyslexia", cursive;
    text-align: center;
    font-size: 64px;
    color: #000000;
    margin: 0 0 20px;
}

.container {
    display: flex;
    justify-content: center;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
}

.profile {
    position: relative;
    transition: all 0.3s;
    width: 100px;
    height: 100px;
}

.profile:hover {
    transform: translateY(25px);
}

.profile img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #f7f7f7;
    filter: drop-shadow(-20px 0 10px rgba(0, 0, 0, 0.1));
    cursor: pointer;
}

.profile:not(:first-child) img {
    margin-left: -20px;
}

.profile .name {
    position: absolute;
    background-color: #000000;
    color: #fff;
    font-family: "Bebas Neue", cursive;
    padding: 15px 30px;
    border-radius: 100px;
    bottom: -80px;
    left: 50%;
    white-space: nowrap;
    transform: translate(-50%, -50px);
    letter-spacing: 1px;
    font-size: 20px;
    opacity: 0;
    transition: all 0.3s;
}

.profile .name::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: #10996d;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.profile img:hover + .name {
    opacity: 1;
    transform: translateX(-50%);
    box-shadow: 0 10px 20px rgba(86, 86, 198, 0.3);
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
}

.modal .cancel {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: default
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

/* Use the :target pseudo-class to display the modal when the corresponding checkbox is checked */
.modal:target {
    display: block;
    z-index: 9999; /* Ensure it's positioned above other content */
}

.modal:target .modal-content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    background-color: #fff;
}

.profile {
    cursor: pointer;
}
