.discord-event {
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 10px;
  margin-bottom: 10px;
}

.event-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.discord-logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.event-name {
  font-weight: bold;
  font-size: 16px;
  margin-right: 10px;
}

.event-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event-location {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.detail-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.detail-label {
  font-weight: bold;
  margin-right: 5px;
}

.detail-value {
  color: #555;
}